<%- include('../layouts/header') -%>

<% if (hasLoggedIn) { %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%- include('../shared/_user_info') %>
      </section>
      <section class="micropost_form">
        <%- include('../shared/_micropost_form') %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%- include('../shared/_feed', {
        microposts: feedItems,
        micropostUsers: feedUsers
      })
      %>
    </div>
  </div>
<% } else { %>
    <div class="center p-5 mb-4 bg-body-secondary rounded-3">
        <h1>Welcome to the Sample App</h1>

        <h2>
            This is the home page for the
            <a class="text-decoration-none" href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
            sample application.
        </h2>

        <a href="/signup" class="btn btn-lg btn-primary">Sign up now!</a>
    </div>

    <a href="https://rubyonrails.org/"><img alt="Rails logo" width="200px" src="/images/rails.svg" /></a>
<% } %>

<%- include('../layouts/footer') -%>
