<%- include('../layouts/header'); -%>

    <h1>Sign up</h1>

    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="/users" accept-charset="UTF-8" method="post">
                <!-- <input type="hidden" name="authenticity_token"
                    value="ここにCSRF対策のtokenを入れる。今は実装しない。" autocomplete="off" /> -->

                <%- include('../shared/_error_messages'); -%>

                <%- makeFormLabel(
                    user,
                    'name',
                    'user_name',
                    'Name'
                ) %>

                <%- makeFormInput(
                    user,
                    'name',
                    'text',
                    'user[name]',
                    'user_name'
                ) %>

                <%- makeFormLabel(
                    user,
                    'email',
                    'user_email',
                    'Email'
                ) %>

                <%- makeFormInput(
                    user,
                    'email',
                    'email',
                    'user[email]',
                    'user_email'
                ) %>

                <%- makeFormLabel(
                    user,
                    'password',
                    'user_password',
                    'Password'
                ) %>

                <%- makeFormInput(
                    user,
                    'password',
                    'password',
                    'user[password]',
                    'user_password'
                ) %>

                <%- makeFormLabel(
                    user,
                    'password_confirmation',
                    'user_password_confirmation',
                    'Confirmation'
                ) %>

                <%- makeFormInput(
                    user,
                    'password_confirmation',
                    'password',
                    'user[password_confirmation]',
                    'user_password_confirmation'
                ) %>

                <input type="submit" name="commit" value="Create my account" class="btn btn-primary" />
            </form>
        </div>
    </div>

<%- include('../layouts/footer'); -%>
